WebService/sax/src/main/java/furniture.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns="http://www.w3.org/TR/html4/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.w3.org/TR/html4/">
<xsd:import namespace="http://www.w3.org/XML/1998/namespace"/>
	
	<xsd:element name="table" type="tableType"/>
	<xsd:complexType name="tableType">
		<xsd:sequence>
				<xsd:element name="name" type="xsd:string"/>	
				<xsd:element name="width" type="xsd:string"/>	
				<xsd:element name="length" type="xsd:string"/>	
		</xsd:sequence>
	</xsd:complexType>
	
</xsd:schema>